*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #ffffff;
    width:  400px;
    height:  500px;
    margin-top: 40px;
    border: 2px solid #c9c2c2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login input{
    width: 250px;
    height: 35px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #7e2a2a;
    border-radius: 5px;

}
.login button{
    background-color: #509dd1d1;
    width: 255px;
    height: 35px;
    margin-top: 7px;
    border: 3px solid black;
    border-radius: 10px;
    color: #ffffff ;  
}
hr{
    margin-top: 15px;
}
.container i{
    align-items: center;
    justify-content: center;

}
.line{
    width: 35%;
    height: 0.5px;
    background-color: #8b8a8a;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 9px;
}
.text-line{
    text-align: center;
    float: left;
    color: #8b8a8a;
    font-weight: bold;
    font-size: 13px;
    margin-right: 7px;
    margin-left: 9px;
}
img{
    width: 200px;
    margin-left: 25px;
}
 



